<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles.css">
    <title>GPU Share Price Estimation</title>
</head>
<body>
    <div class="content" id="home" style="background-image: url('static/Stocks.png');">
        <h1><b>SHARE PRICE PREDICTION OF TOP 5 GPU COMPANIES</b></h1>
    </div>

    <div class="content" id="prediction">
        <h1>Prediction</h1>
        <p>Enter your values to get the share price estimation!</p>

        <form id="predictionForm" method="post" action="">
            <label for="Low">Low (Integer):</label>
            <input type="number" id="Low" name="Low" required>

            <label for="High">High (Integer):</label>
            <input type="number" id="High" name="High" required>

            <label for="Volume">Volume (Integer):</label>
            <input type="number" id="Volume" name="Volume" required>

            <label for="Open">Open (Integer):</label>
            <input type="number" id="Open" name="Open" required>

            <label for="Year">Year (Integer):</label>
            <input type="number" id="Year" name="Year" required>

            <label for="Month">Month:</label>
            <select id="Month" name="Month" required>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>

            <label for="Day">Day (Integer):</label>
            <input type="number" id="Day" name="Day" required>

            <label for="Company">Company:</label>
            <select id="Company" name="Company" required>
                <option value="AMD">AMD</option>
                <option value="ASUS">ASUS</option>
                <option value="INTEL">INTEL</option>
                <option value="MSI">MSI</option>
                <option value="NVIDIA">NVIDIA</option>
            </select>

            <center><button type="submit" id="submitPredictBtn"><b><center>SUBMIT & PREDICT</center></b></button></center>
        </form>
           
        <br>
        <div id="predictionResult">
            {% if prediction_result is not none %}
                <h1><b>Prediction result: {{ prediction_result }}</b></h1>
            {% else %}
                <h1><b>No Prediction yet!</b></h1>
            {% endif %}
        </div>
    </div>

    <div class="content" id="contact">
        <h1>Contact Us</h1>
        <p>Aayushi Singh Thakur: imaayushisinghthakur@gmail.com</p>
        <p>Rishika Sahoo: s.rishika009@gmail.com</p>
        <p>Team ID: 592419</p>
    </div>

    <footer class="footer">
        <p>Made with ❤️ by Aayushi and Rishika</p>
    </footer>

    <script src="static\main.js"></script>
</body>
</html>
